a.exe
Blue_collar.h.gch
Company.h.gch
Device.h.gch
Employee.h.gch
Menu.h.gch
MyCompanyVisual.sln
MyCompanyVisual.vcxproj
MyCompanyVisual.vcxproj.filters
MyCompanyVisual.vcxproj.user
Resources.h.gch
Storage.h.gch
Tool.h.gch
White_collar.h.gch
